body {
  box-sizing: border-box; }

.App--DesktopContainer .menu-segment .ui.menu:not(.vertical) .sign-up-button {
  margin-left: 0.5em; }

.App--MobileContainer--SemanticUI .custom-menu .ui.button.sign-up-button {
  margin-left: 0.5em; }
